{{#commits}}
<a href="{{{repo_url}}}">Repo: {{repo_name}}</a><br>• <a href="https://github.com/{{actor}}">Developer: {{actor}}</a><br>• <a href="{{commit_url}}">Commit: {{commit_sha}}</a><br>Message: {{commit_message}}

{{/commits}}

{{status}}
