{{#commits}}
<a href="{{{repo_url}}}">Repo: {{repo_name}}</a> • <a href="https://github.com/{{actor}}">Developer: {{actor}}</a> • <a href="{{commit_url}}">Commit: {{commit_sha}}</a>
Message: {{commit_message}}

{{/commits}}

{{status}}
