{{#commits}}
New action has been made in GitHub 😎
• Repo: <a href="{{{repo_url}}}">{{repo_name}}</a> 💪
• Developer 🤦: <a href="https://github.com/{{actor}}">{{actor}}</a>
• Commit 👌: <a href="{{commit_url}}">{{commit_sha}}</a>
• 🤷 Message: {{commit_message}} 

{{/commits}}

{{status}}
